{% extends 'index.html.twig' %}

{% block body %}
    {% set formChildren = form.children %}

    {{ form_start(form, {'action': '/contact'}) }}
    {% for input in formChildren %}
        {{ form_widget(input) }}
        <p>{{ form_errors(input) }}</p>
    {% endfor %}
    <input type="submit">
    {{ form_end(form) }}

 {{ dump(form) }}

{% endblock %}

 

{% block angularjs %}{% endblock %}