{% extends 'base.html.twig' %}

{% block body %}
    {% set formChildren = form.children %}
    
    {{ form_start(form, {'action': '/contact'}) }}
   

    {% for input in formChildren if input.vars.name not in ['_token'] %}
       	{{ form_label(input) }}
        {{ form_widget(input) }}
        {{ form_errors(input) }}
        

        <p>{{ form_errors(input) }}</p>
    {% endfor %}
    <input type="submit">
    {{ form_end(form) }}

    
{% endblock %}

 

{% block angularjs %}{% endblock %}